.scroll-blob-l {
  @apply z-50 absolute top-0 bottom-0 left-0 w-12 bg-gradient-to-l from-transparent to-white to-95%;
}

.scroll-blob-r {
  @apply z-50 absolute top-0 bottom-0 right-0 w-12 bg-gradient-to-r from-transparent to-white to-95%;
}

.scroll-inner::-webkit-scrollbar {
  display: none;
}

.scroll-inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply flex space-x-4 overflow-x-scroll relative px-12;
}
